<div id="title">
	<h1>{{title}}</h1>
	<h2>{{subtitle}}</h2>
	<p>{{web}}</p>
</div>

<article class="about">
	<h2>Sobre Mí</h2>
	<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur consequat nibh libero. Maecenas sit amet erat dapibus, maximus quam et, eleifend tortor. Ut turpis augue, congue ut aliquet ut, blandit a odio. Pellentesque accumsan nibh in massa porttitor, at eleifend nulla sollicitudin. Vivamus ornare non arcu quis malesuada. Aliquam a dignissim sapien, a vestibulum sapien. Etiam sodales, massa quis suscipit egestas, ligula quam consequat purus, eu suscipit eros ipsum eget libero. Fusce ac sagittis metus. Vestibulum ut lorem libero. Praesent lectus dolor, auctor ac eros sit amet, lobortis pellentesque nibh. In hac habitasse platea dictumst.
	</p>
</article>